.works1 {
    background-image: url(/woosh.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 150px;
}

.works2 {
    background-image: url(/sas.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 150px;
}