.works1 {
    background-image: url(/woosh.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 150px;
}

.works2 {
    background-image: url(/sas.png);
    background-size: 150%;
    background-position: top;
    width: 100%;
    height: 150px;
}

.project {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}